/data0/*
/*/__pycache__/*
/Idea/Winter_Soldier/__pycache__/*
/Idea/Winter_Soldier/Model_Storage/*
/Idea/Winter_Soldier/Performance_Analysis/*
/Logs/*
/Network/Model_Storage/*
/Network/Performance_Analysis/*
/Network/Model_Visualization/*
GeneralizationDigits_cifar_100.npy
test.py
